# Ignore these directories
/cache/
/profiles/
/earth-model/**/*-source/
mats/EGM/*.mat
mats/EGM/coefficientmats/*.mat
deprecated/

# Include these files from the mat folder
!mats/EGM/*.m
!mats/EGM/coefficientmats/fes2004CnmSnm.mat
!mats/EGM/coefficientmats/*500x500.m*

# Ignore these files
*.asv
*.fig
*.dat
*.script
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.gnuplot
*.log
*.out
*.pre
*.ps
*.xml
*synctex.gz
*.tex.bak
*.toc
