# Ignore these directories
/cache/
/profiles/
/earth-model/**/*-source/
mats/
deprecated/

# Ignore these files
*.asv
*.fig
*.dat
*.script
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.gnuplot
*.log
*.out
*.pre
*.ps
*.xml
*synctex.gz
*.tex.bak
*.toc
